* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  height: 100%;
}

h1 {
  font-size: 48px;
}

.header h3 {
  font-style: italic;
}

h4 {
  text-align: center;
  padding: 10px 0 20px 0;
}

body {
  background-image: url(images/clear_day.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 550px;
  margin: 0 auto;
  background-color: rgba(192, 192, 192, 0.5);
  height: 100%;
}

.header {
  text-align: center;
}

.row {
  display:flex;
}

ul {
  list-style: none;
}

/* HEADER */

.header {
  padding: 20px 0;
}

/* CITY NAME */

.city-header {
  text-align: center;
  padding-bottom: 20px 0 10px 0;
  display: block;
  clear: both;
}

.city-header #loc-name {
  font-size: 28px;
}

.city-header hr {
  width: 60%;
  margin-left: 20%;
}

/*WEATHER*/

.icon-col {
  width: 50%;
  text-align: right;
  padding-right: 15px;
}

.info-col {
  width: 50%;
  float: left;
  padding-left: 15px;
}

.row {
  line-height: 20px;
}

.weather-icon {
  font-size: 48px;
}

.button-div {
  display: block;
  padding-right: 10px;
}

#temp-switch {
  float: right;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 0 20px 0;
}

/* CURRENT WEATHER */

.current-weather {
  padding: 20px 0;
}

/*FORECAST WEATHER*/

.forecast-info {
  display: inline;
}

.forecast-weather p {
  padding-bottom: 20px;
  width: 60%;
  margin: 0 auto;
}

.forecast-day-container {
  padding-bottom: 20px;
}

.forecast-day-container:nth-of-type(odd) {
  background-color: rgba(210, 210, 210, 0.5);
}

.forecast-day-container p {
    text-align: center;
}

.forecast-day {
  padding: 20px 0 10px 0;
  font-size: 24px;
  clear: both;
}

#forecast-day-7 {
  padding-bottom: 20px;
}
